.main-block{
  padding: 3% 0;
}
.main-block img{
  border-radius: 20px;
}
.modal{
  width: 50%;
  margin: 0 auto;
  border: 1px solid black
}
.modal-header{
  padding:5px;
  display: flex;
  justify-content: space-between;
  background-color: #D1E1F0;
}
.modal-body{
  padding:10px;
}
.modal-input-block{
  padding:10px 0;
}
.modal-input-block>input{
  width: 100%;
}
.modal-input-block--1 {
  display: flex;
  justify-content: space-between;
}
.button-create{
  padding:10px;
  text-align: end;
}